@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {

  --calculator-bg: #2D3436;
  --display-bg: #4A5153;
  --display-text: #EAEAEA;
  --button-text-color: #EAEAEA;
  --number-button-bg: #535A5C;
  --function-button-bg: #636A6C;
  --accent-button-bg: #26A69A;
  --history-bg: #FFFFFF;
  --history-text-color: #333333;
  --page-bg: #eff1f2;

  background-color: var(--page-bg);
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
